.app-header {
	align-items: center;
	color: #eee;
	background-color: #222;
	display: flex;
	justify-content: center;
	min-height: 64px;
}

.app-header h1 {
	font-size: 32px;
}

.content-column {
	margin: 0 auto;
	max-width: 900px;
	padding-left: 4px;
	padding-right: 4px;
}
