.app-header {
	align-items: center;
	background-color: #222;
	color: #eee;
	display: flex;
	justify-content: center;
	min-height: 64px;
	padding: 8px;
}

.content-column {
	margin: 0 auto;
	max-width: 900px;
	padding-left: 8px;
	padding-right: 8px;
}
