/* Font Styles */
.font-style-ital {
	font-style: italic;
}

.font-style-norm {
	font-style: normal;
}

/* Text Aligns */
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/* Valigns */
.valign-middle {
	vertical-align: middle;
}
